<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sentimental Analysis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Chart in pink</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas #barChart></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Chart in orange</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas #barChart1></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Chart in green</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas #barChart2></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>