<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Youtube Comment Analysis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Desicion Tree </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas id="decision">{{ decisionChart }}</canvas>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Kernal SVC</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas id="kernal_svc">{{ kernal_svcChart }}</canvas>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>KNN </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas id="knn">{{ knnChart }}</canvas>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Linear Regression</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas id="linear_regression">{{ linear_regressionChart }}</canvas>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Random Forest </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas id="random_forest">{{ random_forestChart }}</canvas>

      </ion-card-content>
    </ion-card>



  </div>
</ion-content>